.container {
  width: fit-content;
  height: 60px;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 10px 40px 10px 40px;
  border-radius: 23px;
  border: 1px solid white;
  box-shadow: 3px -5px 21px -2px rgba(147, 152, 159, 0.2);
}
.star {
  color: green;
}
.box {
  font-size: 20px;
}
