body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.container {
  width: 25%;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
}
.box {
  height: 50%;
  display: flex;
  padding: 10px 0px 10px 0px;
}
.button {
  flex: 1 1 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}
